<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AtsEx.PluginHost" version="0.19.0" targetFramework="net48" />
  <package id="Lib.Harmony" version="2.2.2" targetFramework="net48" />
  <package id="SlimDX" version="4.0.13.44" targetFramework="net48" />
  <package id="UnembeddedResources" version="1.0.0" targetFramework="net48" />
</packages>